.panel.panel-primary
    .panel-heading.text-center New Courses
    .panel-body
        .row(ng-repeat="course in courses | orderBy: 'published':true | filter:{featured:false}")
            .col-md-3 {{course.title}}
